/* Importando fonte antes de qualquer regra */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configuração do HTML e do Body */
html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow:auto;
    /* Evita barra de rolagem manual */
}

section {
    font-size: 1.5rem;
    height: 100vh; /* Cada seção ocupa 100% da tela */
    transition: transform 0.5s ease-in-out;   
}

h1{
    color: #FFD691;
    font-weight: 600;
}
P{
    font-size: 1.30rem;
}
section, p , h1{
    margin: 0;
    padding: 0;
    color: white;

}
.section1, .section2, .section3,.section4,.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2, .section4,.section6{  
    background: linear-gradient(rgba(3, 8, 13, 1), rgba(3, 8, 13, 0.95) 80%);
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    min-height: 100vh; 
 }
.logo{
    height: 6.5rem; width: auto;}
/**************-------------***************/
/**************TELA INICIAL***************/
/**************-------------***************/

/* Fundo arredondado preto com transparência no título principal */
.titulo-img {
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 90% de transparência */
    padding: 1.5rem; 
    width: 100%;
}
.titulo {
    padding: 1.5rem; 
    width: 100%;
}

.texto-inicio{
    color:#FFD691 ;
    font-weight: 400;
}
/* 🔹 Destaque para textos importantes */
.destaque {
    color: #FFD691;
    font-weight: 500;

}
.botaozona {
    color: rgba(0, 0, 0, 0.9);
    min-width: 20vw;  /* Largura mínima */
    max-width: 80vw;   /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 0.2em 4vw; /* Espaçamento interno maior */
}
.botaosobreaguerra {
    color: rgba(0, 0, 0, 0.9);
    background-color: #FFD691;
    min-width: 20vw;  /* Largura mínima */
    max-width: 80vw;  /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 0.2em 4vw; 
}

