/* Importando fonte antes de qualquer regra */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configuração do HTML e do Body */
html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow:auto;
    /* Evita barra de rolagem manual */
}

section {
    font-size: 1.5rem;
    height: 100vh; /* Cada seção ocupa 100% da tela */
    transition: transform 0.5s ease-in-out; 
    overflow: inherit;  
    color: white;
}

h1{
    color: #FFD691;
    font-weight: 600;
}

p, strong{
    font-size: 1.10rem;
}
section, p , h1{
    margin: 0;
    padding: 0;
    

}
.section1, .section2, .section3,.section4,.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 6.5rem; width: auto;}
/**************-------------***************/
/**************TELA INICIAL***************/
/**************-------------***************/

/* Fundo arredondado preto com transparência no título principal */
.titulo-img {
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 90% de transparência */
    padding: 1.5rem; 
    width: 100%;
}
.titulo {
    margin-bottom: 1.5rem;
    width: 100%;
}

/* 🔹 Destaque para textos importantes */
.destaque {
    color: #FFD691;

}
.destaque-bold {
    color: #fdb02c;
    font-weight: 600;
    font-size: 1.25rem;

}
.botaozona {
    color: rgba(0, 0, 0, 0.9);
    min-width: 20vw;  /* Largura mínima */
    max-width: 80vw;   /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 0.2em 4vw; /* Espaçamento interno maior */
}
.botaosobreaguerra {
    color: rgba(0, 0, 0, 0.9);
    background-color: #FFD691;
    min-width: 20vw;  /* Largura mínima */
    max-width: 80vw;  /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 0.2em 4vw; 
}

.botaofases {
    color: rgba(0, 0, 0, 0.9);
    background-color: #fdb02c;
    font-size: 1.1rem; /* Ajuste do tamanho do texto */
    font-weight: 600;

}

.custom-card {
    min-height: 300px; /* Ajuste a altura conforme necessário */
    border: 5px solid #fdb02c; /* Borda personalizada */
    border-radius: 15%;
     /* Para posicionar o conteúdo sobre a imagem */
    color: white; /* Cor do texto para contrastar com a imagem */
    
}
#card-fase1 {
    background: linear-gradient(rgba(3, 8, 13, 0.85), rgba(3, 8, 13, 0.99) 80%), url("../imgs/autoconhecimento.jpg"); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o card */
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    position: relative;}

#card-fase2 {
    background: linear-gradient(rgba(3, 8, 13, 0.85), rgba(3, 8, 13, 0.99) 80%), url("../imgs/planejamento.jpg"); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o card */
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    position: relative;}
#card-fase3 {
    background: linear-gradient(rgba(3, 8, 13, 0.85), rgba(3, 8, 13, 0.99) 80%), url("../imgs/tempo.jpg"); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o card */
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    position: relative;}
#card-fase4 {
    background: linear-gradient(rgba(3, 8, 13, 0.85), rgba(3, 8, 13, 0.99) 80%), url("../imgs/acao.jpg"); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o card */
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    position: relative;}
    

.custom-card h3,
.custom-card .destaque-bold,
.custom-card .botaofases {
    position: relative; /* Garantir que o texto fique sobre a imagem */
    z-index: 2; /* Trazer o conteúdo para frente */
}

