/* Reset básico do CSS */
* {

    box-sizing: border-box;
}

/* Define a fonte padrão do site */
/* Incluindo a fonte IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'IBM Plex Sans', sans-serif;
}
.telainicial {
        background: linear-gradient(rgba(6, 15, 23, 0.85), rgba(0, 0, 0, 0.9) 100%), url("../imgs/startpage.jpg");
        background-size: cover;
        background-position: 50% 90%;
        background-repeat: no-repeat;
        min-height: 100vh; 
}

.zonadeguerra1 {
    background: linear-gradient(rgba(6, 15, 23, 0.85), rgba(0, 0, 0, 0.9) 100%), url("../imgs/warzone.jpg");
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    min-height: 100vh; 
}
.zonadeguerra2 {
    background: rgba(6, 15, 23,0.95);
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    min-height: 100vh; 
}
.zonadeguerra3 {
    background: rgba(6, 15, 23,0.95);
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    min-height: 100vh; 
}
.zonadeguerra4 {
    background: linear-gradient(rgba(6, 15, 23, 0.85), rgba(0, 0, 0, 0.9) 100%), url("../imgs/warzone.jpg");
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    min-height: 100vh; 
}


/* 🔹 Fundo arredondado preto com transparência no título principal */
.titulo-principal {
    background-color: rgba(0, 0, 0, 0.9); /* Preto com 80% de transparência */
    color: #FFD691;
    font-weight: 600;
    font-size: x-large;
    border-radius: 15px;
    padding: 10px 40px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento externo nas laterais */
    align-items: center;
}

.texto-inicio{
    color:#FFD691 ;
    font-weight: 400;
    font-size:medium;
}
/* 🔹 Destaque para textos importantes */
.destaque {
    color: #FFD691;
    font-weight: 500;
    font-size:medium;
}

.botaozona {
    color: rgba(0, 0, 0, 0.9);
    min-width: 200px;  /* Largura mínima */
    max-width: 400px;  /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 12px 20px; /* Espaçamento interno maior */
}
.botaomapa {
    color: rgba(0, 0, 0, 0.9);
    background-color: #FFD691;
    min-width: 200px;  /* Largura mínima */
    max-width: 400px;  /* Largura máxima */
    font-size: 1.2rem; /* Ajuste do tamanho do texto */
    font-weight: 600;
    padding: 12px 20px; /* Espaçamento interno maior */
}

.container-scroll {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    text-align: center;
    padding: 20px;
}
